body{
    background-color: rgb(230,230,230);
    background-image: url("res/stadium4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    opacity: 0.85;
}

.Athletics,.Badminton, .Basketball, .Football, .Hockey,.Cricket,.TableTennis,.LawnTennis,.Squash,.WeightLifting,.Volleyball{
    position: fixed;
    font-family: Titillium Web;
    font-size: 18px;
    top: 32%;
    right: 0;
    bottom: 0;
    left: 40%;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.Athletics:target,.Badminton:target,.Basketball:target, .Football:target, .Hockey:target,.Cricket:target,.TableTennis:target,.LawnTennis:target,.Squash:target,.WeightLifting:target,.Volleyball:target {
    opacity:1;
    pointer-events: auto;
}

.content {
    width: 90%;
    height: 90%;
    position: relative;

    padding: 5px 20px 13px 40px;
    background: rgb(250,250,250);
    color: rgb(40,40,40);
    overflow: auto;
}



.button1{
    position: absolute;
    left: 8%;
    top : 35%;
    }

.button1:hover circle{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button1:hover path{
    fill: rgb(250,35,40);
}



.button2{
    position: absolute;
    left: 16%;
    top : 35%;
    }
.button2:hover circle{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button2:hover path{
    fill: rgb(250,35,40);
}

.button3{
    position: absolute;
    left: 24%;
    top : 35%;
    }
.button3:hover circle{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button3:hover path{
    fill: rgb(250,35,40);
}

.button4{
    position: absolute;
    left: 32%;
    top : 35%;
    }
.button4:hover circle{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button4:hover path{
    fill: rgb(250,35,40);
}
.button5{
    position: absolute;
    left: 8%;
    top : 55%;
    }
.button5:hover circle{
    fill: rgb(250,35,40);
    }

.button5:hover path{
    fill: rgb(250,35,40);
}

.button5:hover .outer5 {
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;

}
.button6{
    position: absolute;
    left: 16%;
    top : 55%;
    }

.button6:hover circle{
    fill: rgb(250,35,40);
}
.button6:hover .outer6{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button6:hover path{
    fill: rgb(250,35,40);
}

.button7{
    position: absolute;
    left: 24%;
    top : 55%;
    }
.button7:hover circle{
    fill: rgb(250,35,40);
}
.button7:hover .outer7{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button7:hover path{
    fill: rgb(250,35,40);
}

.button8{
    position: absolute;
    left: 32%;
    top : 55%;
    }
.button8:hover circle{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button8:hover path{
    fill: rgb(250,35,40);
}
.button9{
    position: absolute;
    left: 8%;
    top : 75%;
    }

.button9:hover circle{
    fill: rgb(250,35,40);
}
.button9:hover .outer9{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button9:hover path{
    fill: rgb(250,35,40);
}



.button10{
    position: absolute;
    left: 16%;
    top : 75%;
    }

.button10:hover circle{
    fill: rgb(250,35,40);
}
.button10:hover .outer10{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button10:hover path{
    fill: rgb(250,35,40);
}

.button11{
    position: absolute;
    left: 24%;
    top : 75%;
}
.button11:hover circle{
    fill: rgb(250,35,40);
}
.button11:hover .outer11{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button11:hover path{
    fill: rgb(250,35,40);
}
.button12{
    position: absolute;
    left: 32%;
    top : 75%;
    }
.button12:hover circle{
    fill:rgb(30,30,30);
    stroke: rgb(250,35,40);
    stroke-width: 1.5px;
    }

.button12:hover path{
    fill: rgb(250,35,40);
}


.heading{
    position: absolute;
    top: -12%;
    left: 25%;
    font-family: "Roboto Condensed";
    font-size: 110px;
    font-weight: 700;
    z-index: 9999;
    color : rgb(250,5,40);

}


